body {
  max-width: 100vw;

  align-items: center;

  background-image:  linear-gradient( #c6ffdd, #fbd786, #f7797d);
  object-fit: cover;
}
section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  justify-items: center;
}

div {
  align-self : center;
}

svg {
  width: 50vw;
  height: 50vw;
}

#xertz {
  height: 40vw;

  padding-bottom: 2rem;
}


/*Reset*/

* {
  /*Tony told me to use this one*/
  box-sizing: border-box;
}

body {
  /*makes it so it consumes 100% of the page*/
  margin: 0;

  background-repeat: no-repeat;
}