body {
  width: 100vw;

  align-items: center;
}
section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  justify-items: center;
}

svg {
  max-width: 300px;
}





















/*Reset*/

* {
  /*Tony told me to use this one*/
  box-sizing: border-box;
}

body {
  /*makes it so it consumes 100% of the page*/
  margin: 0;
}